@import "reset.css";
@import "../fonts/PressStart2P/stylesheet.css";
@import "../fonts/Hyperspace/stylesheet.css";

* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica", "Arial", sans-serif;
	background: #000;
	color: #fff;
	margin: 0;
}

header {
	height: 60px;
	line-height: 60px;
	background: #000;
}

header, nav {
	position: relative;
	z-index: 1;
}

body {
	font-family: "PressStart2P", sans-serif;
	position: relative;
}
header h1 {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	padding: 0 1rem;
}

header h1 small {
	text-transform: none;
}

nav {
	background: #fff;
	color: #000;
	min-height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	
	top: 0;
	left: 0;
	z-index: 10;
}

.pp-form {
	display: none;
}


nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #000;
	text-decoration: none;
	padding: 0 20px;
}

article {
	font-size: 20px;
	margin: 0 auto;
	line-height: 1.2;
	font-family: "Hyperspace", sans-serif;
	color: #01d259;
	letter-spacing: 0.1rem;
}

article h2 {
	text-transform: uppercase;
	font-family: "PressStart2P", sans-serif;
	font-size: 8vw;
	color: white;
	z-index: 5;
	text-align: center;
	padding-top: 15vw;
	
	text-shadow: 0 0 10px  #ffffff, 0 0 20px  #ffffff,
							0 0 30px  #ffffff, 0 0 40px  #ff00de,
							0 0 70px  #ff00de, 0 0 80px  #ff00de,
							0 0 100px #ff00de, 0 0 150px #ff00de;
}


body {
	position: relative;
	transform: translateZ(0);
	/* animation: flicker 0.15s steps(20) infinite ; */
	
}

/* Probably should be removed */
article div.article-image {
	background-attachment: fixed !important;
	background-size: 100vw auto !important;
}

article .article-image {
	width: 100vw;
	height: 35vw;
	
	top: 0;
	left: 0;
	z-index: 0;
}

article .article-image {
	height: auto;
}

article .copy {
	position: relative;
	background: rgba(0, 0, 0, 1);
	z-index: 9;
	padding: 1rem;
	width: 100vw;
	margin-top: 40vw;
	transform: translateZ(0);
}

body.hide {
	animation: turn-off 0.15s steps(20);
}

body.show {
	animation: turn-on 0.15s steps(20);
}

body.show article h2,
body.hide article h2 {
	display: none;
}

article p {
	margin-bottom: 1rem;
}

article a {
	color: #00f667;
	text-decoration: none;
	font-weight: bold;
}

/*
 * Parallax effect: http://keithclark.co.uk/articles/pure-css-parallax-websites/
 */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
  transform-style: preserve-3d;
  scroll-behavior: smooth;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}
.parallax__layer--base {
  transform: translateZ(-0.5px);
}
.parallax__layer--back {
  transform: translateZ(-1px)  translateY(10vw) scale(2);
}

/*
 * For fixedsticky polyfill.
 * https://github.com/filamentgroup/fixed-sticky
 */
.fixedsticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
	position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
	position: fixed;
}
.fixedsticky-dummy {
	display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
	display: block;
}

/*
 * These animations were totally ripped off from Lucas Bebber
 * http://codepen.io/lbebber/pen/XJRdrV/
 */
@keyframes flicker {
  0% {
    opacity: 0.84688;
  }
  5% {
    opacity: 0.83625;
  }
  10% {
    opacity: 0.97426;
  }
  15% {
    opacity: 0.90222;
  }
  20% {
    opacity: 0.83377;
  }
  25% {
    opacity: 0.95831;
  }
  30% {
    opacity: 0.86218;
  }
  35% {
    opacity: 0.87985;
  }
  40% {
    opacity: 0.8048;
  }
  45% {
    opacity: 0.89521;
  }
  50% {
    opacity: 0.99684;
  }
  55% {
    opacity: 0.8347;
  }
  60% {
    opacity: 0.95669;
  }
  65% {
    opacity: 0.82683;
  }
  70% {
    opacity: 0.89331;
  }
  75% {
    opacity: 0.8511;
  }
  80% {
    opacity: 0.88265;
  }
  85% {
    opacity: 0.88624;
  }
  90% {
    opacity: 0.96424;
  }
  95% {
    opacity: 0.81607;
  }
  100% {
    opacity: 0.81527;
  }
}


@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}


/* tablet */
@media only screen and (max-width: 768px) {
	header h1 {
		font-size: 13px;
	}
	
	nav ul {
		display: none;
	}
	
	.pp-form {
		display: block;
	}
	
	article .copy {
		font-size: 15px;
	}
}

/* tablet portrait */
@media only screen and (max-width: 768px)
and (orientation: portrait) {
	article .article-image {
		
		width: 200vw;
		height: auto;
		
		/* 50vw - width/2 */
		left: -50vw;
		
		
	}
	
	article .copy {
		/* width(.article-image) * 376 / 702 */
		margin-top: 107.1225071225071vw;
	
	}
	
	.parallax__layer--back {
		transform: translateZ(-1px) translateY(-30vw) scale(1);
	}
	
	.parallax__layer--base {
		transform: translateZ(-0.5px) translateY(50vh) scale(2);
	}
}

@media only screen and (max-width: 360px) {
	header h1 {
		font-size: 12px;
	}
	
	article h2 {
		
	}
	
	article .copy {
		font-size: 12px;
	}
	
}

/* mobile */
@media only screen and (max-width: 320px) {
	header h1 {
		font-size: 11px;
	}
	
	nav {
		font-size: 9px;
	}
}