@import "reset.css";

body {
	background: white;
	font-face: "Helvetica", "Arial", sans-serif;
}

form {
	background: black;
	color: white;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#results {
	margin-top: 100px;
}
