@import "reset.css";

body {
	font-family: "Helvetica", "Arial", sans-serif;
}

label {
	cursor: pointer;
}

table, form {
	width: 100%;
	max-width: 1024px;
	margin: 1em auto;
}

table {
	border-collapse: collapse;
}

table th, table td {
	line-height: 1.2;
	text-align: left;
	padding: 10px;
}

table th {
	font-weight: bold;
	color: white;
	background-color: black;
}
table tbody tr,
table tbody tr div {
	transform: translateZ(0);
}

table tbody tr {
	
}

table tbody tr div {
	
	overflow: hidden;
}

table tbody tr.hide {
	opacity: 0;
}

table.animation-done tbody tr.hide {
	display: none;
}

table.animation-done tbody tr.hide div {
	display: none;
	height: auto;
	max-height: 0;
}

table tbody tr.show {
	display: table-row;
	opacity: 1;
	animation: 250ms ease-in-out 0s 1 normal both running grow-row ;
}

table tbody tr.show div {
	display: block;
	max-height: 4em;
	animation: 250ms ease-in-out 0s 1 normal both running grow-text ;
}

table tbody tr:nth-child(2n) {
	background-color: #cccccc;
}

form {
	display: block;
}

fieldset {
	padding: 1em;
	border: solid 1px black;
}

label {
	margin: 0 1em;
}


@keyframes grow-row {
  0% {
    display: none;
    opacity: 0;
    padding: 0;
    max-height: 0;
  }
  1% {
    display: table-row;
    opacity: 0;
    padding: 0;
    max-height: 0;
  }
  100% {
  	display: table-row;
    opacity: 1;
    padding: 10px;
    max-height: 4em;
  }
}

@keyframes shrink-row {
	0% {
  	display: table-row;
    opacity: 1;
    padding: 10px;
    max-height: 4em;
  }
  99% {
    display: table-row;
    opacity: 0;
    padding: 0;
    max-height: 0;
  }
	0% {
    display: none;
    opacity: 0;
    padding: 0;
    max-height: 0;
  }
  
}

@keyframes grow-text {
  0% {
  	display: none;
    max-height: 0;
  }
  1% {
  	display: block;
    max-height: 0;
  }
  100% {
  	display: block;
    max-height: 4em;
  }
}