@import "reset.css";

body {
	font-family: "Helvetica", "Arial", sans-serif;
	margin: 10px;
}

label {
	cursor: pointer;
}

table, form {
	width: 100%;
	max-width: 1024px;
	margin: 1em auto;
}

table {
	border-collapse: collapse;
}

table th, table td {
	line-height: 1.2;
	text-align: left;
	padding: 10px;
}

table th {
	font-weight: bold;
	color: white;
	background-color: black;
}

/*
 *  GPU accelleration in order browsers.
 */
table tbody tr,
table tbody tr div {
	transform: translateZ(0);;
}

/*
 *  GPU accelleration in newer browsers.
 */
table tbody tr {
	will-change: display, opacity, padding, max-height;
}

table tbody tr div {
	overflow: hidden;
	will-change: display, max-height;
}


table tbody tr.hide {
	display: none;
}

.pp-support table tbody tr.hide {
	display: auto;
	opacity: 0;
}



table.animation-done tbody tr.hide {
	display: none;
}

table.animation-done tbody tr.hide div {
	display: none;
	height: auto;
	max-height: 0;
}

table tbody tr.show {
	display: table-row;
	opacity: 1;
	animation: 250ms ease-in-out 0s 1 normal both running grow-row ;
}

table tbody tr.show div {
	display: block;
	max-height: 6em;
	animation: 250ms ease-in-out 0s 1 normal both running grow-text ;
}

table tbody tr.even {
	background-color: #cccccc;
}

form {
	display: block;
}

fieldset {
	padding: 1em;
	border: solid 1px black;
}

label {
	margin: 0 1em;
	white-space: nowrap;
}

caption {
	margin: 1em 0;
}

.field-group-container {
	float: left;
	margin-top: 10px;
}


.no-data {
	text-align: center;
}

@keyframes grow-row {
  0% {
    display: none;
    opacity: 0;
    padding: 0;
    max-height: 0;
  }
  1% {
    display: table-row;
    opacity: 0;
    padding: 0;
    max-height: 0;
  }
  100% {
  	display: table-row;
    opacity: 1;
    padding: 10px;
    max-height: 6em;
  }
}

@keyframes shrink-row {
	0% {
  	display: table-row;
    opacity: 1;
    padding: 10px;
    max-height: 6em;
  }
  99% {
    display: table-row;
    opacity: 0;
    padding: 0;
    max-height: 0;
  }
	0% {
    display: none;
    opacity: 0;
    padding: 0;
    max-height: 0;
  }
  
}

@keyframes grow-text {
  0% {
  	display: none;
    max-height: 0;
  }
  1% {
  	display: block;
    max-height: 0;
  }
  100% {
  	display: block;
    max-height: 6em;
  }
}

@media only screen and (max-width: 360px) {
	body {
		font-size: 3.5vw;
	}
}

@media only screen and (max-width: 767px) {	
	label {
		margin: 0 0.3em;
	}
}