@import "reset.css";
@import "../fonts/PressStart2P/stylesheet.css";
@import "../fonts/Hyperspace/stylesheet.css";

* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica", "Arial", sans-serif;
	background: #000;
	color: #fff;
	margin: 0;
	font-family: "PressStart2P", sans-serif;
	position: relative;
}

header {
	height: 60px;
	line-height: 60px;
	background: #000;
}

header, nav {
	position: relative;
	z-index: 1;
}

header h1 {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	padding: 0 1rem;
}

header h1 small {
	text-transform: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.pp-form {
	display: none;
}

nav {
	background: #fff;
	color: #000;
	min-height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	
	top: 0;
	left: 0;
	z-index: 10;
}

nav ul li {
	display: inline-block;
}

nav ul a {
	color: #000;
	text-decoration: none;
	padding: 0 1.4vw;
}

article {
	font-size: 20px;
	margin: 0 auto;
	line-height: 1.2;
	font-family: "Hyperspace", sans-serif;
	color: #01d259;
	letter-spacing: 0.1rem;
}

article h2 {
	text-transform: uppercase;
	font-size: 8vw;
	padding-top: calc(10vw + 104px);
	text-align: center;
	
	/*
	 * Note: I just commented out the last text-shadow instead of erasing it
	 * since it does something curious in Android -- it slows down the render time
	 * by 4 seconds (!).  Want to investigate why.
	 */
	text-shadow: 0 0 10px  #ffffff, 0 0 20px  #ffffff,
							0 0 30px  #ffffff, 0 0 40px  #ff00de,
							0 0 70px  #ff00de, 0 0 80px  #ff00de;
}

article h2,
.parallax__layer--base p {
	font-family: "PressStart2P", monospace;
	color: white;
	z-index: 5;
}

article h2.smaller-text {
	padding-top: calc(5vh + 35px);
}

.parallax__layer--base p {
	margin-top: 40px;
	color: white;
	font-family: "PressStart2P", monospace;
	font-size: 24px;
	text-shadow: 0 0 5px  rgba(255, 255, 255, 0.5), 0 0 10px  rgba(255, 255, 255, 0.5),
							0 0 15px  rgba(255, 255, 255, 0.5), 0 0 20px  rgba(255, 0, 222, 0.5),
							0 0 35px  rgba(255, 0, 222, 0.5), 0 0 40px  rgba(255, 0, 222, 0.5);
}


body {
	position: relative;
	/* GPU accelleration in older browsers */
	transform: translateZ(0);
	/* GPU accelleration in newer browsers */
	will-change: transform, -webkit-filter, filter, opacity;
}

/* Probably should be removed */
article div.article-image {
	background-attachment: fixed !important;
	background-size: 100vw auto !important;
}

article .article-image {
	width: 100vw;
	height: 35vw;
	top: 0;
	left: 0;
	z-index: 0;
}

article .article-image {
	height: auto;
}

article .copy {
	position: relative;
	background: rgba(0, 0, 0, 1);
	z-index: 9;
	padding: 1rem;
	width: 100vw;
	margin-top: 40vw;
}

body.hide {
	animation: turn-off 0.15s steps(20);
}

body.show {
	animation: turn-on 0.15s steps(20);
}

body.show article h2,
body.hide article h2 {
	display: none;
}

article p {
	margin-bottom: 1rem;
}

article a {
	color: #00f667;
	text-decoration: none;
	font-weight: bold;
}

/*
 * Parallax effect: http://keithclark.co.uk/articles/pure-css-parallax-websites/
 */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
  transform-style: preserve-3d;
  scroll-behavior: smooth;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
  display: table;
}
.parallax__layer--base {
  transform: translate3d(0, 0, -0.5px);
}
.parallax__layer--back {
  transform: translateZ(-1px)  translateY(-10vw) scale(2);
}

form {
	position: relative;
	margin: 7px 0;
}


form:before {
	content: "☰";
	font-weight: bold;
	position: absolute;
	display: block;
	left: 5px;
	top: -2px;
}

select, .pp-no-support-button {
	font-family: "PressStart2P", monospace;
	text-transform: uppercase;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background: #eee;
	box-shadow: 2px 2px 2px #000;
	font-size: 12px;
}

select {
	padding: 5px 5px 5px 50px;
}

.pp-no-support-button {
	padding: 5px;
}

.pp-no-support-button {
	display: inline-block;
}

.pp-support .pp-no-support-button {
	display: none;
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}

/* tablet */
@media only screen and (max-width: 768px) {
	header h1 {
		font-size: 3.5vw;
	}
	
	nav ul {
		display: none;
	}
	
	.pp-form {
		display: inline-block;
	}
	
	article .copy {
		font-size: 15px;
	}
}

/* tablet portrait */
@media only screen and (max-width: 768px)
and (orientation: portrait) {
	article .article-image {
		
		width: 200vw;
		height: auto;
		
		/* 50vw - width/2 */
		left: -50vw;
		
		
	}
	
	article h2.smaller-text {
		padding-top: 20vw;
	}
	
	article .copy {
		/* width(.article-image) * 376 / 702 */
		margin-top: 107.1225071225071vw;
		min-height: 75vh;
	
	}
	
	.parallax__layer--back {
		transform: translateZ(-1px) translateY(-50vw) scale(1)
	}
	
	.parallax__layer--base {
		transform: translateZ(-0.5px) translateY(50vh) scale(2);
	}
	
	.parallax__layer--base {
		font-size: 5vw;
    width: 70vw;
    margin: 0 auto;
    line-height: 1.3;
	}
}

/* mobile */
@media only screen and (max-width: 360px) {
	header h1 {
		font-size: 3.5vw;
	}
	
	article h2.smaller-text {
		padding-top: 20vw;
	}
	
	article .copy {
		font-size: 13px;
	}
	
} */

/* small mobile */
@media only screen and (max-width: 320px) {
	header h1 {
		font-size: 11px;
	}
	
	nav {
		font-size: 9px;
	}
}
